section.activities-family-slider .wrap {
	margin-left: 8.072917%;
	margin-right: 8.072917%;
	position: relative;
	padding: 0;
}

section.activities-family-slider {
	margin: 4.55em 0;
}

.activitiesFamilySlide .image img {
	width: 100%;
}

.activitiesFamilySlide .swiper-button-next:after,
.activitiesFamilySlide .swiper-button-prev:after {
	content: none !important;
}

.activitiesFamilySlide .swiper-button-next,
.activitiesFamilySlide .swiper-button-prev {
	font-size: 2.96em;
	display: none;
}

.activitiesFamilySlide .swiper-button-prev {
	left: auto !important;
	right: 1.1em !important;
	bottom: 0 !important;
}

.activitiesFamilySlide .swiper-button-next {
	right: -0.2em !important;
	bottom: 0 !important;
}

.activitiesFamilySlide .swiper-button-next i::before,
.activitiesFamilySlide .swiper-button-prev i::before {
	color: #f0c3dc;
	font-weight: 300;
}

.activitiesFamilySlide .titleArrows {
	position: relative;
	margin-bottom: 3.5em;
}

.activitiesFamilySlide .titleArrows .title h2 {
	font-size: 3em;
	font-weight: 800;
	color: #f0c3dc;
	line-height: 1;
	margin: 0;
}

@media only screen and (min-width: 760px) {
	.activitiesFamilySlide .swiper-button-next,
	.activitiesFamilySlide .swiper-button-prev {
		display: block;
	}
}

@media only screen and (min-width: 960px) {
	section.activities-family-slider .wrap {
		margin-left: 8.072917%;
		margin-right: 12.5%;
	}
}
